product/priv-app/Velvet/Velvet.apk
system_ext/priv-app/Settings/Settings.apk
boot.img
.git/objects/pack/pack-14ffb09e8888eb66163b67db5e52355a0d9c0d59.pack
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/apex/com.android.vndk.current.apex
